@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', 'Poppins', 'sans-serif';
}

.lightOn {
    filter: drop-shadow(0 0 0.75rem #EAB308);
}

.yellowOn {
    filter: drop-shadow(0 0 0.75rem #EAB308);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 1s ease-in-out forwards;
}
  
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}